# VSCode config
.vscode/launch.json

# Python bytecode
*.pyc
__pycache__/
*.cpython-*

# Scratch files
scratch*.py

# TensorBoard logs
runs/**/events.out.tfevents.*

# Core dumps
core.*

# Results
results/*_simulation_results.json
results/merged_logs_20250328_025355.csv
results/merged_logs_20250328_054844.csv
